<p id="notice"><%= notice %></p>
<div class="col-md-2">

<h2><%= link_to 'CREAR GRUPO', new_family_group_path %></h2>
<h2><strong><%= link_to 'VOLVER', family_groups_path %></strong></h2>

</div>
<div class="col-md-10">

<div class="center">
	<h1>Familia <%= @family_group.family_name %></h1>
</div>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Miembros</th>
      <th>Edad</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
      <% @family_group.patients.each do |patient| %>
        <tr>
          <td><%= link_to patient.firstname+" "+patient.father_lastname, patient %></td>
          <td><%= distance_of_time_in_words(patient.born_date, Time.now) %></td>
          <!--<td><%= FamilyGroups(patient.family_groups) %></td>-->

        </tr>
      <% end %>
  </tbody>
</table>

<!--<%= link_to 'Nuevo Paciente', new_patient_path %>-->
<%= link_to 'Agregar Paciente', {:controller=> "family_groups",:action=>"add", :id=>@family_group.id} %>

 <!--<div class="new-family-member-container">
    <%= form_tag({:controller => "family_groups", :action => "add_patient_to_group", :family_group => @family_group.id}, :method => "post") do %>
    <p><strong>Paciente:</strong><%= select("patient", "id", Patient.all.collect {|p| [ p.firstname+" "+p.father_lastname, p.id ] }) %><%= submit_tag 'Agregar' %></p>
    <% end %>
  </div>
<br>-->
|
<%= link_to 'Editar', edit_family_group_path(@family_group) %>
</div>