<div class="form-wrapper">
<%= form_for (@user), :html => {:class => 'form-horizontal'} do |f| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
      <div class="form-group">
        <%= f.label 'Primer Nombre:', :class => "col-lg-4 control-label" %>
        <div class="col-lg-8">
          <%= f.text_field :firstname, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'Segundo Nombre:', :class => "col-lg-4 control-label" %>
        <div class="col-lg-8">
          <%= f.text_field :secondname, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'Apellido Paterno:', :class => "col-lg-4 control-label" %>
        <div class="col-lg-8">
          <%= f.text_field :father_lastname, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'Apellido Materno:', :class => "col-lg-4 control-label" %>
        <div class="col-lg-8">
          <%= f.text_field :mother_lastname, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'Número de teléfono:', :class => "col-lg-4 control-label" %>
        <div class="col-lg-8">
          <%= f.number_field :phone_number, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'Especialidad:', :class => "col-lg-4 control-label" %>
        <div class="col-lg-8">
          <%= f.text_field :speciality, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'Programa:', :class => "col-lg-4 control-label" %>
        <div class="col-lg-8">
          <%= f.text_field :program, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'Sector:', :class => "col-lg-4 control-label" %>
        <div class="col-lg-8">
          <%= f.text_field :sector, :class => "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label 'Correo:', :class => "col-lg-4 control-label" %>
        <div class="col-lg-8">
          <%= f.text_field :email, :class => "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-lg-4 control-label">Contraseña de Confirmación </label>
        <div class="col-lg-8">
          <%= password_field_tag :current_password, params[:current_password], placeholder: "Contraseña actual", :class => "form-control" %>
        </div>
      </div>

            

      <div class="form-group">
        <label class="col-lg-4 control-label"><%= link_to 'Cambiar Contraseña', password_change_path(@user.id) %></label>
        <div class="col-lg-8">
          <%= f.submit "Actualizar", :class => "btn btn-default" %>
        </div>
      </div>


<% end %>

</div>