<div class="form-wrapper">
<%= form_for @activity , :url => {:action => "create",:plan_id => @plan.id}, :html => {:class => "form-horizontal"} do |f| %>
  <% if @activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
      <% @activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label 'Description', :class => "col-lg-4 control-label" %>
    <div class="col-lg-8">
      <%= f.text_area :description, :class => "form-control form-textarea", :rows => "4" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Objectives', :class => "col-lg-4 control-label" %>
    <div class="col-lg-8">
      <%= text_field_tag "objectives", nil, :class => "form-control", :id => "objective-textfield", :rows => "4",:placeholder=>"Write and press enter" %>
    </div>
  </div>
  <div class ="form-group">
    <%= f.label 'Deadline:', :class => "col-lg-4 control-label" %>
    <div class="col-lg-8">
      <%= f.text_field :deadline, :class => "form-control", :id => "datepicker", :'data-behaviour' => 'datepicker', :value => Date.today %>
    </div>
  </div>
  <div class="form-group ">
          <%= f.label 'Activity Type:', :class => "col-lg-4 control-label" %>

    <div class="col-lg-8">
      <%= f.select :activity_type, ACTIVITY_TYPE, {}, {:class => "form-control"} %>
    </div>
  </div>
    <div class="form-group ">
      <%= f.label 'Person in Charge:' , :class => "col-lg-4 control-label"%>

    <div class="col-lg-8" >
      <%= select_tag "users", options_from_collection_for_select(User.all,"id",:fullname), multiple: true, id: "user-activity-select", class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-4"></div>
    <div class="col-lg-8">
      <%= link_to 'Cancel',  planslink_path(@plan.family_group.id), :class => "btn btn-default form-btn pull-left"  %>
      <%= f.submit "Create", :class => "btn btn-default" %>
    </div>
  </div>

<% end %>
</div>


