<div class="form-wrapper">
  <%= form_for @plan , :url => {:controller => "plans", :action => "create", :id => @family_group.id}, :html => {:class => "form-horizontal"} do |f| %>
  <% if @plan.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

    <ul>
      <% @plan.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label 'Clinical Target', :class => "col-lg-4 control-label" %>
    <div class="col-lg-8">
      <%= f.text_area :clinical_objective, :class => "form-control form-textarea", :rows => "4" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Family Reviews', :class => "col-lg-4 control-label" %>
    <div class="col-lg-8">
      <%= f.text_area :family_summary, :class => "form-control form-textarea", :rows => "4" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label 'Index Patient:', :class => "col-lg-4 control-label"%>
    <div class="col-lg-8">
      <%= select("patient_selec", "id", Patient.all.collect {|p| [ p.firstname+" "+p.father_lastname, p.id ]}, {:class => "form-control"}) %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label 'Risk Factors:', :class =>"col-lg-4 control-label"%>
    <div class="col-lg-8">
      <%= f.text_area :risk_details, :class => "form-control", :id => "plan-risk-token", :placeholder=>"Write and press enter" %>
    </div>
  </div>
  <div class="form-group">

    <%= f.label 'Protection Factors:', :class =>"col-lg-4 control-label"%>
    <div class="col-lg-8">
      <%= f.text_area :protection_details, :class => "form-control", :id => "plan-protection-token", :placeholder=>"Write and press enter" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label 'Risk Level:', :class => "col-lg-4 control-label"%>
    <div class="col-lg-8">
      <%= f.select :risk_factor, PLAN_RISK,{},{:class => "form-control"} %>
    </div>
  </div>



  <div class="form-group">
    <div class="col-lg-4"></div>
    <div class="col-lg-8">
      <%= link_to 'Cancel', plans_path(id:@family_group.id),:class => "btn btn-default form-btn pull-left" %>

      <%= f.submit "Create", :class => "btn btn-default" %>
    </div>
  </div>


  <% end %>
</div>

