<p id="notice"><%= notice %></p>

<p>
  <strong>Family Target:</strong>
  <%= @plan.family_summary %>
</p>

<p>
  <strong>Clinical Target:</strong>
  <%= @plan.clinical_objective %>
</p>

<p>
  <strong>Risk Factor:</strong>
  <%= @plan.risk_factor %>
</p>
<p>
  <strong>State:</strong>
  <%= @plan.state %>
</p>
<p>
  <strong>Plan Type:</strong>
  <%= @plan.plan_type %>
</p>

<br>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
